
#content {
  padding: 2ch;
  margin-top: 2%;
  padding: 2ch;
  /* max-width: 800px; */
  /* flex: 1 0 auto; */
  /* flex-direction: clumn; */
  /* max-height: 400px; */
  border: 1px solid white;
  font-weight: bold;
  background-color: antiquewhite;
  border-radius: 15px;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.2);
  
}

.selectGroup {
    display: flex;
}
/* .dropdown {
  font-family: Helvetica;
  background-color: #4a4d55;
  transition: visibility 0.5s;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 200px;
  text-align: center;
  top: 60px;
  right: 0px;
  border: 1px solid #ededee;
  box-shadow: 0px 1px 1px 1px darkslategray;
}
.dropdown__item {
  cursor: pointer;
  text-align: left;
  line-height: 24px;
  font-size: 14px;
}
a {
  margin: 8px 16px;
  text-decoration: none;
  display: block;
}
img {
  margin-right: 12px;
  vertical-align: -24%;
  width: 24px;
}
span {
  white-space: nowrap;
  overflow: hidden;
  /* color: #4a4d55; */

/* .dropdown__item--large {
  border-bottom: 1px solid #ededee;
  a {
    margin: 16px;
  }
*/
 
.flexContainer {
 display: flex;
 font-size: 1rem;
}